body{
    font-family: sans-serif;
    background-color: rgb(197, 179, 214);
}

header{
    text-align: center;
}

main{
    background-color: rgb(40, 18, 60);
    color: white;
}

div.container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>article{
    width: 100px;
    height: 200px;
    border: 1px solid white;
}